<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.urbanlaunchpad.flocktracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Welcomes"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Couhes"
            android:label="@string/title_activity_couhes"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Iniconfig"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Iniconfig" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Username"
            android:label="@string/title_activity_username"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Couhes"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Couhes" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Trip_info"
            android:label="@string/title_activity_trip_info"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Username"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Username" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Start_trip"
            android:label="@string/title_activity_start_trip"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Trip_info"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Trip_info" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Trip_started"
            android:label="@string/title_activity_trip_started"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Start_trip"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Start_trip" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Survey_agree"
            android:label="@string/title_activity_survey_agree"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Trip_started"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Trip_started" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Gender_choice"
            android:label="@string/title_activity_gender_choice"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Survey_agree"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Survey_agree" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Survey"
            android:label="@string/title_activity_survey"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Gender_choice"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Gender_choice" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Passenger_counter"
            android:label="@string/title_activity_passenger_counter"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Trip_started" >
            android:screenOrientation="portrait"
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Trip_started" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Iniconfig"
            android:label="@string/title_activity_iniconfig"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Welcomes"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Welcomes" />
        </activity>
                <activity
            android:name="org.urbanlaunchpad.flocktracker.Surveyor"
            android:label="@string/title_activity_surveyor"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Iniconfig"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Iniconfig" />
        </activity>
    </application>

</manifest>