<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.urbanlaunchpad.flocktracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="org.urbanlaunchpad.flocktracker.Tracker"
            android:permission="android.permission.WAKE_LOCK"
            android:process=":remote" />

        <activity
            android:name="org.urbanlaunchpad.flocktracker.Welcomes"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Hub_page_fragment"
            android:label="@string/title_activity_start_trip"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Survey_agree" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Survey"
            android:label="@string/title_activity_survey"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Gender_choice"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Gender_choice" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Passenger_counter"
            android:label="@string/title_activity_passenger_counter"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Trip_started" >
            android:screenOrientation="portrait"
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Trip_started" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Iniconfig"
            android:label="@string/title_activity_iniconfig"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Welcomes"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Welcomes" />
        </activity>
        <activity
            android:name="org.urbanlaunchpad.flocktracker.Surveyor"
            android:label="@string/title_activity_surveyor"
            android:parentActivityName="org.urbanlaunchpad.flocktracker.Iniconfig"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.urbanlaunchpad.flocktracker.Iniconfig" />
        </activity>

        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=AIzaSyB4Nn1k2sML-0aBN2Fk3qOXLF-4zlaNwmg" />
    </application>

</manifest>